
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);


* {
  box-sizing: border-box;  
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  color: #325050;
  background: #fff;
  font-family: 'Libre Baskerville';
  font-size: 70%;
}
.page-wrapper {
  position: relative;
}
a {
  color : grey;
  text-decoration: none;
} 
header {
  height: 230px;
  background: 50% 0 url(huntington.jpg) no-repeat;
  background-attachment: fixed, fixed, fixed, scroll;
  background-image: url(contours.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  text-align: center;
  padding: 20px 0 70px 0;
}
h1 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Julius Sans One';
  font-size: 3.2em;
  text-transform: uppercase;
}
h2 {
  display: block;
  padding-top: 5px;
  color: white;
  font-size: 1.6em;
  font-style: italic;
}
p {
  margin: 0.75em 0;
  line-height: 2;
}
.sidebar h3 {
  display: none;
}
.sidebar ul {
  padding: 0;
  list-style: none;
}
h3 {
  margin: 2em 0 0 0;
  font-family: 'Julius Sans One';
  font-size: 1.8em;
  text-transform: uppercase;
}
.summary, .preamble {
  width: 80%;
}
.supporting h3, .supporting p {
  width: 80%;
  margin-right: auto;
}
.summary {
  padding-top: 2em;
}
div.participation, div.benefits {
  background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(bamboo.png);
  background-repeat: repeat, repeat, no-repeat;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
}
/*div.participation {
  padding: 3em 0;
  margin-top: 3em;
}*/

div.benefits {
  padding-bottom: 3em;
  margin-bottom: 3em;
}
/*div.participation h3, div.benefits h3 {
  margin-top: 0;
}
div.participation p, div.benefits p {
  margin-bottom: 0;
}
*/
.design-selection li, .zen-resources li {
  float: left;
  padding: 1.5em 10%;
  border-top: solid 1px black;
}
  
.design-selection .design-name, .zen-resources a, li.viewall a {
  display: block;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

.design-selection h3 {
  display: none;
}

.design-archives {
  position: absolute;
  top: 160px;
  right: 0;
  width: 100%;
  height: 70px;
  }
.design-archives h3 {
  display: none;
}
.design-archives ul {
  margin: 0;
}
.design-archives li {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  border: none;
}
.design-archives li.viewall {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 71px;
  line-height: 50px;
}

.design-archives .previous a, .design-archives .next a {
  display: block;
  overflow: hidden;
  width: 70px;
  height: 70px;
  text-indent: 100%;
  text-decoration: none;
  }
.design-archives .viewall a {
  z-index: 2;
  width: 100%;
  min-height: 70px;
  padding: 12px 0 0 0;
  text-align: center;
}
.sidebar {
  background: #edf4f0;
}

.zen-resources {
  overflow: hidden;
  background-image: url(bamboo.png);
}
.zen-resources li {
  border-top: solid 1px black;
  font-style: normal;
}
.zen-resources li:last-child {
  float: none;
  width: auto;
  border-bottom: solid 1px black;
}
.supporting .requirements {
  float: none;
  clear: both;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.supporting .requirements a {
  text-decoration: none;
}
  
.supporting .requirements h3 {
  padding-top: 0;
}
.requirements p:last-child {
  width: auto;
  padding: 1em 12%;
  margin: 0;
  color : white;
  background-attachment: fixed, fixed, fixed, scroll;
  background-image: url(contours.png), url(gridlines.png), url(noise.png), url(koi.jpg);
  background-position: 0 0, -5px -25px, 0 0, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  font-size: 2em;
  font-style: italic;
  text-align: center;
}
.requirements p:last-child a {
  color: white;
}
footer {
  clear: both;
  padding: 3em 10%;
  background: #134347;
  text-align: center;
}
footer a {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  position: relative;
}

@media only screen and (min-width: 1132px) {
body {
    font-size: 100%;
}
header {
    width: 100%;
    height: 310px;
    padding: 0 10%;
    border-top: solid 12px;
    vertical-align: middle;
    text-align: left;
}

  
h1 {
    display: inline-block;
    position: relative;
    margin: 15px 0 0 0;
    padding: 60px 0 5px 0;
}
  
h2 {
    display: block;
    margin: 0;
    padding: 5px 0 60px 70px;
}
p {
    font-size: 1em;
}
.summary, .preamble, .supporting div, .requirements h3, .requirements p {
    float: left;
    width: 66%;
    padding: 1em 5% 1em 10%;
}
  
.summary {
    padding-top: 3.25em;
}
.requirements h3, .requirements p {
  margin: 0;
  padding-bottom: 0;
}

div.participation, div.benefits {
  width: 100%;
  padding-left: 10%;
  padding-right: 38%;
  margin: 0;
}
div.participation, div.requirements {
    padding-top: 4em;
}
div.explanation, div.benefits {
    padding-bottom: 4em;
}
.requirements p:nth-child(5) {
    padding-bottom: 4em;
}


.intro h3, .supporting h3 {
    margin-top: 0;
}
.intro p:last-child, .supporting p:last-child {
    margin-bottom: 0;
}
.requirements p:last-child {
    padding-bottom: 3em;
    padding-top: 3em;
}

.design-selection, .zen-resources {
    position: absolute;
    top: 360px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent;
}
.sidebar li {
    float: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin: 0 29.4% 0 14.7%; 
}  
.design-archives {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 310px;
}
.design-archives nav {
    display: block;
    position: absolute;
    right: 1%;
    top: 120px;
    width: 32%;
}
.design-archives li {
    margin: 0;
}

.zen-resources {
  position: absolute;
  top: 1310px;
  right: 0;
  width: 34%;
  background: transparent;
}
.zen-resources h3 {
  display: none;
}
  .zen-resources ul {
    margin: 0 30% 0 15%;
  }
  .zen-resources li {
    padding: 1.5em 0 1.25em 0;
    margin: 0;
  }

}


